{{ ansible_managed | comment(decoration="; ") }}

[{{pool_alias}}]
{% if pool.listen.socket is defined %}
listen = {{ pool.listen.socket }}
{% elif (pool.listen.address is defined) and (pool.listen.port is defined) %}
listen = {{ pool.listen.address }}:{{ pool.listen.port }}
{% elif (pool.listen.address is not defined) and (pool.listen.port is defined) %}
listen = {{ pool.listen.port }}
{% endif %}

user = {{pool.user}}
group = {{pool.group}}

request_terminate_timeout = {{pool.request_terminate_timeout}}

{{ 'Proccess manager' | comment(decoration="; ") }}
pm = {{pool.pm.strategy}}
{% if pool.pm.strategy in ['static', 'dynamic'] %}
pm.max_children = {{ pool.pm.max_children }}
{% endif %}
{% if pool.pm.strategy in ['ondemand', 'dynamic'] %}
pm.start_servers = {{ pool.pm.start_servers }}
{% endif %}
{% if pool.pm.strategy == 'dynamic' %}
pm.min_spare_servers = {{ pool.pm.min_spare_servers }}
pm.max_spare_servers = {{ pool.pm.max_spare_servers }}
pm.max_requests = {{ pool.pm.max_requests }}
{% endif %}
pm.status_path = /status/{{pool_alias}}

{{ 'Proccess' | comment(decoration="; ") }}
{% if pool.process.priority is defined %}
process.priority = {{ pool.process.priority }}
{% endif %}
{% if dumpable_available %}
process.dumpable = {{ pool.process.dumpable and 'On' or 'Off' }}
{% endif %}

rlimit_files = {{ pool.rlimit_files }}
security.limit_extensions = {{ pool.security.limit_extensions | join(' ')}}

{% if pool.ping.path is defined %}
ping.path = {{ pool.ping.path }}
{% else %}
ping.path = /ping/{{ pool_alias }}
{% endif -%}

{% if pool.ping.response is defined %}
ping.response = {{ pool.ping.response }}
{% else %}
ping.response = pong
{% endif %}

{% if pool.request_slowlog_timeout != 0 %}
request_slowlog_timeout = {{ pool.request_slowlog_timeout }}
slowlog = {{ pool.slowlog | default(php_slowlog_path) }}
{% endif %}

{% if pool.catch_workers_output %}
catch_workers_output = On
decorate_workers_output = {{ pool.decorate_workers_output and 'On' or 'Off' }}
{% endif -%}

{{ 'Environment' | comment(decoration="; ") }}
clear_env = {{ pool.clear_env and 'On' or 'Off' }}
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp

{% if pool.clear_env %}
{% for env_variable in pool.env_variables | default([]) | flatten %}
env[{{env_variable}}] = ${{env_variable}}
{% endfor %}
{% endif %}

{{ 'Admin flags' | comment(decoration="; ") }}
{% for flag_name, flag_value in pool.admin_flags.items() %}
php_admin_flag[{{flag_name}}] = {{ flag_value and 'On' or 'Off' }}
{% endfor %}

{{ 'Flags' | comment(decoration="; ") }}
{% for flag_name, flag_value in pool.flags.items() %}
php_flag[{{flag_name}}] = {{ flag_value and 'On' or 'Off' }}
{% endfor %}

{{ 'Admin values' | comment(decoration="; ") }}
{% for value_name, value in pool.admin_values.items() %}
php_admin_value[{{value_name}}] = {{ value }}
{% endfor %}

{{ 'Values' | comment(decoration="; ") }}
{% for value_name, value in pool.val.items() %}
php_value[{{value_name}}] = {{ value }}
{% endfor %}